<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SecurePay WebUi Test" allow-return-values="true" parallel="false" thread-count="2">

    <test name="Tests Web Firefox">
        <classes>
            <class name="com.selenium.AcceptanceTestSuite"/>
        </classes>
    </test>

</suite>